/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Aug 12, 2017, 3:36:11 PM
    Author     : nagaraju_yasarapu
*/

.text-center {
    text-align: -webkit-center;
    text-align: center;
}
